/* google font */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* header part */
.button-primary {
    border-radius: 6px;
    background-color: magenta;
    border: 0;
    padding: 15px 20px;
    color: white;
    font-size: 17px;
    font-weight: 700;
    l
}

.header-container {
    background: rgba(229, 84, 115, 0.10);
}

.header-container {
    display: flex;
}

.about {
    margin-top: 5px;
    color: rgba(39, 39, 39, 0.60);


}

.heading-line {
    margin-top: 10px;
}

.background-fixed {
    display: flex;
    height: 500px;
    margin-bottom: 100px;



}

.header-info-container {
    margin: 0 110px;
    margin-top: 10px;
    margin-bottom: 70px;
}

.image {
    margin: 0 150px;
    margin-top: 30px;

}

.button-primary {
    margin-top: 10px;
}

/* feauture area with sample photo */
.feature-info {
    text-align: center;
    margin-bottom: 80px;
    font-weight: 400;
    line-height: 30px;

}

.feature-photo-container {
    display: flex;
    justify-content: center;

}

.feature-photo {
    border-radius: 300px 300px 0px 0px;

    padding: 10px;
    margin-left: 20x;
    margin-right: 20px;
    width: 320px;
    height: 320px;
}

.text {
    justify-content: center;
}

.text {
    padding-left: 100px;
    text-decoration: underline
}


/* Sale up part */
.sale-offer-container {
    display: flex;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 180px;

}

.off-part {
    color: magenta;
}

.main-image {
    margin-left: 50px;
}

.main-bg-image {
    background: rgba(110, 34, 72, 0.1);
}

.hot-deal {
    display: flex;
    justify-content: space-around;
    background: border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-text .hot-h1 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    line-height: 1.3em;
    margin-top: 150px;
    margin-bottom: 20px;
    text-align: center;
}

.hot-text .hot-p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3em;
}

.hot-img .hot-img-1 {
    width: 272px;
    height: 375px;
    flex-shrink: 0;
    margin-top: 80px;
    transition: .5s;
}

.hot-text .sign-up-btn {
    color: #fff;
    font-size: 15px;
    margin-left: 180px;
    margin-top: 30px;
    padding: 15px 40px;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid #fff;
    border-radius: 8px;
    background: #E55473;
    text-transform: uppercase;
    transition: .5s;
    text-align: center;
}

.hot-text .sign-up-btn:hover {
    border: 1px solid #000;
    background: transparent;
    color: #272727;
}

.insta-info {
    text-align: center;
}

/* hot deal section done */



.contact {
    background: url("../image/Rectangle\ 9.png");
    margin: 100px;
    padding: ;
    height: 300px;
    flex-shrink: 0;
    border-radius: 10px;
}

.contact .contact-h1 {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    padding-top: 100px;
}

.contact .contact-p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

.input {
    align-items: center;
    text-align: center;
}

.input .email-input {
    width: 350px;
    height: 32px;
    flex-shrink: 0;
    margin: 30px 0px 0px 0px;
    border-radius: 5px;
    background: #FFF;
    border: 1px solid #fff;
}

.input .sub-btn {
    color: #fff;
    font-size: 15px;
    padding: 8.5px 20px;
    margin-left: 15px;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: magenta;
    text-transform: uppercase;
    transition: .5s;
}

.input .sub-btn:hover {
    border: 1px solid #000;
    background: transparent;
    color: #272727;
}

/* footer part */
.footer {
    width: 100%px;
    height: 320px;
    background: black;
}

.footer .foot-h1 {
    color: #fff;
    text-align: center;
    padding-top: 100px;
    font-size: 35px;
}

.footer .foot-p {
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

.footer .foot-copy {
    color: magenta;
    text-align: center;
    padding-top: 15px;
    margin-top: 10px;
}