/* google font */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* header part */
.button-primary {
    border-radius: 6px;
    background-color: magenta;
    border: 0;
    padding: 15px 20px;
    color: white;
    font-size: 17px;
    font-weight: 700;
    l
}

.header-container {
    background: rgba(229, 84, 115, 0.10);
}

.header-container {
    display: flex;
}

.about {
    margin-top: 5px;
    color: rgba(39, 39, 39, 0.60);


}

.heading-line {
    margin-top: 10px;
}

.background-fixed {
    display: flex;
    height: 500px;
    margin-bottom: 100px;



}

.header-info-container {
    margin: 0 110px;
    margin-top: 10px;
    margin-bottom: 70px;
}

.image {
    margin: 0 150px;
    margin-top: 30px;

}

.button-primary {
    margin-top: 10px;
}

/* feauture area with sample photo */
.feature-info {
    text-align: center;
    margin-bottom: 80px;
    font-weight: 400;
    line-height: 30px;

}

.feature-photo-container {
    display: flex;
    justify-content: center;

}

.feature-photo {
    border-radius: 300px 300px 0px 0px;

    padding: 10px;
    margin-left: 20x;
    margin-right: 20px;
    width: 320px;
    height: 320px;
}

.text {
    justify-content: center;
}

.text {
    padding-left: 100px;
    text-decoration: underline
}


/* Sale up part */
.sale-offer-container {
    display: flex;
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 180px;

}

.off-part {
    color: magenta;
}

.main-image {
    margin-left: 50px;
}

.main-bg-image {
    background: rgba(41, 39, 40, 0.1);
}

/* instagram-info  */

.insta-info {
    text-align: center;
    margin-top: 50px;
    background: rgba(229, 84, 115, 0.10);
    margin-top: 100px;

}